.navbar{
  &_menu{
    display: flex;
    background-color: black;
    color: white;
    gap: 2rem;
    &_section{
      padding: 2rem;
      position: relative;
      list-style: none;
      &:hover{
        background-color: darkblue;
      }
      &_submenu{
        position: absolute;
        display: none;
        list-style: none;
        background-color: black;
        padding: 0rem;
        top: 100%;
        li{
          a{
            display: block;
            padding: 1rem 2rem;
            color: white;
            text-decoration: none;
            &:hover{
              background-color: darkblue;
            }
          }
        }
      }
      &:hover{
        .navbar_menu_section_submenu{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}