@mixin LinkHoverColor(){
  transition: background-color 0.3s ease;
  &:hover{
    background-color: darkblue;
  }
} 
.navbar {
  &_menu {
    display: flex;
    list-style: none;
    background-color: #333;
    padding: 10px;
    gap: 20px;
    a {
      color: white;
      text-decoration: none;
    }
    &_section {
      position: relative;
      color: white;
      cursor: pointer;
      &_submenu {
        display: none;
        position: absolute;
        background-color: #444;
        top: 100%;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 10;
        // Submenú anidado
        &--nested {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          background-color: #555;
          min-width: 200px;
          padding: 0;
          margin: 0;
          z-index: 20;
          @include LinkHoverColor();
        }
        li {
          position: relative;
          padding: 10px 20px;
          @include LinkHoverColor();
          // Mostrar submenú anidado solo cuando se hace hover sobre el li
          &:hover .navbar_menu_section_submenu--nested {
            display: block;
          }
        }
      }
      // Mostrar el primer nivel al hacer hover sobre la sección principal
      &:hover > .navbar_menu_section_submenu {
        display: block;
      }
    }
  }
}