@use "./mixins" as *;
@use "sass:color";
html {
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
  margin: 0.5rem;
  background-color: color.adjust(gray, $lightness: 45%);
  @include Tablet(){
    margin: 1.5rem;
  }
  @include Desktop(){
    margin: 2rem;
  }
}
*, 
*:before,
*:after {
  box-sizing: inherit;
}
nav{
  display: flex;
  li{
    font-size: 2rem;
  }
}
h1, h2, h3, h4, h5, h6, p, li, a{
  letter-spacing: 0.05em;
}
h1{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1rem;
  font-size: GetFontSize("mobile","h1");
  @include Tablet(){
    font-size: GetFontSize("tablet","h1");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h1");
  }
}
h2{
  font-size: GetFontSize("mobile","h2");
  @include Tablet(){
    font-size: GetFontSize("tablet","h2");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h2");
  }
}
h3{
  font-size: GetFontSize("mobile","h3");
  @include Tablet(){
    font-size: GetFontSize("tablet","h3");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h3");
  }
}
h4{
  font-size: GetFontSize("mobile","h4");
  @include Tablet(){
    font-size: GetFontSize("tablet","h4");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h4");
  }
}
h5{
  font-size: GetFontSize("mobile","h5");
  @include Tablet(){
    font-size: GetFontSize("tablet","h5");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h5");
  }
}
h6{
  font-size: GetFontSize("mobile","h6");
  @include Tablet(){
    font-size: GetFontSize("tablet","h6");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h6");
  }
}
p{
  font-size: GetFontSize("mobile","p");
  @include Tablet(){
    font-size: GetFontSize("tablet","p");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","p");
  }
}
ul, li{
  font-size: GetFontSize("mobile","p");
  @include Tablet(){
    font-size: GetFontSize("tablet","p");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","p");
  }
}
button{
  font-family: 'Courier New', Courier, monospace;
  font-variant: small-caps;
  font-size: GetFontSize("mobile","h3");
  @include Tablet(){
    font-size: GetFontSize("tablet","h3");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h3");
  }
}
label{
  font-size: GetFontSize("mobile","h3");
  @include Tablet(){
    font-size: GetFontSize("tablet","h3");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h3");
  }
}
a{
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-decoration: none;
  padding: .5rem;
  margin: 1rem 0;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  background-color: darkblue;
  color: white;
  text-align: center;
  font-size: GetFontSize("mobile","h5");
  transition: background-color 0.1s linear;
  &:hover{
    background-color: color.adjust(darkblue, $lightness: 20%);
  }
  @include Tablet(){
    font-size: GetFontSize("tablet","h5");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","h5");
  }
}
.code{
  font-variant: normal;
  font-size: GetFontSize("mobile","code");
  @include Tablet(){
    font-size: GetFontSize("tablet","code");
  }
  @include Desktop(){
    font-size: GetFontSize("desktop","code");
  }
}
pre{
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 2rem;
  background-color: #fff;
  thead {
    background-color: #f2f2f2;

    th {
      border: 1px solid #999;
      padding: 10px 15px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      text-align: left;
      vertical-align: middle;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #fafafa;
      }

      td {
        border: 1px solid #999;
        padding: 10px 15px;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
}