@use 'font-sizes' as *;

@mixin Mobile {
  @media (min-width: 768px) { // Móviles grandes y tablets pequeñas
    @content;
  }
}
@mixin Tablet {
  @media (min-width: 1024px) { // Tablets en horizontal y laptops pequeñas
    @content;
  }
}
@mixin Desktop {
  @media (min-width: 1280px) { // Laptops grandes y escritorios
    @content;
  }
}
@mixin XL {
  @media (min-width: 1440px) { // Pantallas muy grandes
    @content;
  }
}
@function GetFontSize($screen, $font){
  $fontSize: $h1SmallFontSize;
  @if $screen=="mobile" {
    @if $font=="h1" {
      @return $fontSize;
    }@else if $font=="h2" {
      @return MultiplyByPercentage($fontSize, .10, 1);
    }@else if $font=="h3" or $font=="nav"{
      @return MultiplyByPercentage($fontSize, .10, 2);
    }@else if $font=="h4" {
      @return MultiplyByPercentage($fontSize, .10, 3);
    }@else if $font=="h5" or $font=="p" {
      @return MultiplyByPercentage($fontSize, .10, 4);
    }@else if $font=="h6" or $font=="code" {
      @return MultiplyByPercentage($fontSize, .10, 5);
    }
  }
  $fontSize: $fontSize*.40+$fontSize;
  @if $screen=="tablet" {
    @if $font=="h1" {
      @return $fontSize;
    }@else if $font=="h2" {
      @return MultiplyByPercentage($fontSize, .10, 1);
    }@else if $font=="h3" or $font=="nav" {
      @return MultiplyByPercentage($fontSize, .10, 2);
    }@else if $font=="h4" {
      @return MultiplyByPercentage($fontSize, .10, 3);
    }@else if $font=="h5" or $font=="p"  {
      @return MultiplyByPercentage($fontSize, .10, 4);
    }@else if $font=="h6" or $font=="code" {
      @return MultiplyByPercentage($fontSize, .10, 5);
    }
  }
  $fontSize: $fontSize*.40+$fontSize;
  @if $screen=="desktop" {
    @if $font=="h1" {
      @return $fontSize;
    }@else if $font=="h2" {
      @return MultiplyByPercentage($fontSize, .10, 1);
    }@else if $font=="h3" or $font=="nav" {
      @return MultiplyByPercentage($fontSize, .10, 2);
    }@else if $font=="h4" {
      @return MultiplyByPercentage($fontSize, .10, 3);
    }@else if $font=="h5" or $font=="p" {
      @return MultiplyByPercentage($fontSize, .10, 4);
    }@else if $font=="h6" or $font=="code" {
      @return MultiplyByPercentage($fontSize, .10, 5);
    }
  }
}
@function MultiplyByPercentage($value, $percentage, $times){
  @for $i from 1 through $times {
    $value: $value - $value*$percentage
  }
  @return $value;
}